<div id="background">
    <header class="cf">
        <div class="wrapper_wide">
            <a href="#" id="logo">podcast.fm</a>
	       	<nav>
	           	<ul>
	            	<li><a href="#">explore</a></li>
	               	<li><a href="#">sign in</a></li>
	               	<li><a href="#">create a podcast</a></li>
	           	</ul>
	       	</nav>
        </div>
    </header>
    <div class="wrapper_skinny">
        <h1>discover your new favorite <br> podcast, or create your own</h1>
        <a href="#" class="button button_highlight">Create a podcast</a>
        <a href="#" class="button button_white">Explore</a>
    </div>

</div>